@{
    var gender ="";

    if(IsPost)
    {
        var y1 = Request.Form["Y1"];
        var m1 = Request.Form["M1"];
        var d1 = Request.Form["D1"];
        var y2 = Request.Form["Y2"];
        var m2 = Request.Form["M2"];
        var d2 = Request["D2"];

        int age = y2.AsInt() - y1.AsInt();
     
        if(( m2.AsInt() < m1.AsInt()) || (m2.AsInt() == m1.AsInt()) && (d2.AsInt() < d1.AsInt()))
        {
            age = age -1;
        }
    
        var db = Database.Open("SexPredict");
        var selectQueryString = "SELECT * FROM SexPredict WHERE Age = @0 AND ConceptionMonth = @1 ORDER BY ID";
        var row = db.QuerySingle(selectQueryString, age, m2.AsInt());
        if(row !=null)
        {
            gender = row.BabySex;
        }
        else
        {
            Validation.AddFormError("No movie was selected.");
        }
   }
 }
<!DOCTYPE html>
<html>
 <head>
   <script src="SexPredict.js"></script>
   <title>Sex Predict</title>

 </head>
 <body>
   <h1>Sex Predict</h1>
     <form method="post">
      <div>
        <label for="Woman's Birth Year">Woman's Birth Year</label>
        <select id="tYEAR" name="Y1" size="1" onChange="createSelect(0, 'tYEAR', 'tMON', 'tDAY')"></select> 
		<select id="tMON" name="M1" size ="1" onChange="createSelect(0, 'tYEAR', 'tMON', 'tDAY');"></select> 
		<select id="tDAY" name="D1" size ="1" ></select> 
		<script type="text/javascript">createSelect(1, "tYEAR", "tMON", "tDAY");</script> 
      </div>
         </br>
      <div>
        <label for="  Conception  Year">Conception  Year</label>
        <select id="tYEAR2" name="Y2" size="1" onChange="createSelect(0, 'tYEAR2', 'tMON2', 'tDAY2')"></select> 
		<select id="tMON2" name="M2" size="1" onChange="createSelect(0, 'tYEAR2', 'tMON2', 'tDAY2');"></select> 
		<select id="tDAY2" name="D2" size="1" ></select> 
		<script type="text/javascript">createSelect(1, "tYEAR2", "tMON2", "tDAY2");</script> 
      </div>
         <div>    <input type="Submit" value="Submit" /><br/> </div>
   </form>

@if (IsPost)
   {
         <p>It is a @gender!</p>
    }
 
 </body>
</html>