@{
    WebSecurity.logout();
   
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="stylesheet" href="@Href("~/Site.css")" type="text/css" />
        <title>Logout</title>
    </head>
    <body>
        <h1>Logout</h1>
        <p>You are now logged out!</p>
        <p><a href="@Href("~/Default")">Return to home page</a></p>
    </body>
</html>
